<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item"><a href="javascript:void();">Home</a></li>
          <li class="list-inline-item"><a href="javascript:void();">About</a></li>
          <li class="list-inline-item"><a href="javascript:void();">FAQ</a></li>
          <li class="list-inline-item"><a href="javascript:void();">Get Started</a></li>
          <li class="list-inline-item"><a href="javascript:void();">Videos</a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <div class="copy-right">&copy; All right Reserved.<a class="text-green ml-2">NG NEWS</a></div>
      </div>
      <hr>
    </div>
  </div>
</section>
