<div class="news-list">
  <ul>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
    <li>{{news}}</li>
  </ul>
</div>
