.article {
  // background-color: #312c2c;
  text-align: center;
  text-shadow: none;
  padding: 2px;
  .flip-card {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    perspective: 1000px;
  }

  .flip-card-inner {
    font-size: 18px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: white;
    text-align: center;
    height: 150px;
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    p {
      padding-top: 20%;
    }
  }

  .flip-card-back {
    height: 150px;
    width: 100%;
    color: black;
    background-color: white;
    transform: rotateY(180deg);
    font-size: 15px;
    font-style: italic;
    .source {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
