<div class="article" *ngIf="article">
  <div class="flip-card">
    <div class="flip-card-inner" [ngStyle]="background">
      <div class="flip-card-front">
        <p>{{article.title}}</p>
      </div>
      <div class="flip-card-back">
        <a *ngIf="article.source.name" class="source" (click)="redirect(article)">Source: {{article.source.name}}</a>
        <a *ngIf="!article.source.name" class="source" (click)="redirect(article)">See full article.</a>
        <p>{{article.description}}</p>
      </div>
    </div>
  </div>
<div>
