.category {
  margin-top: 8px;
  h3 {
    border-left: 3px solid red;
    b {
      margin-left: 4px;
    }
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #3a0202;
  }

  .column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 170px;
    border: 1px solid #FFF;
  }
}
